    <!-- Page Sidebar Header-->
<div class="sidebar-header-wrapper">
    <input type="text" class="searchinput" />
    <i class="searchicon fa fa-search"></i>
    <div class="searchhelper">Search Reports, Charts, Emails or Notifications</div>
</div>
<!-- /Page Sidebar Header -->
<!-- Sidebar Menu -->
<ul class="nav sidebar-menu">
    <!--Dashboard-->
    <li ui-sref-active="active">
        <a ui-sref="home">
            <i class="menu-icon glyphicon glyphicon-home"></i>
            <span class="menu-text"> Dashboard </span>
        </a>
    </li>
    <!--Sản phẩm-->
    <li>
        <a href="" class="menu-dropdown">
            <i class="menu-icon fa fa-desktop"></i>
            <span class="menu-text"> Sản phẩm </span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li ui-sref-active="active">
                <a ui-sref="productCategories">
                    <span class="menu-text">DS Danh mục</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="products">
                    <span class="menu-text">DS Sản phẩm</span>
                </a>
            </li>
        </ul>
    </li>
    <!--Databoxes-->
    <li ui-sref-active="active">
        <a ui-sref="databoxes">
            <i class="menu-icon glyphicon glyphicon-tasks"></i>
            <span class="menu-text"> Data Boxes </span>
        </a>
    </li>
    <!--Widgets-->
    <li ui-sref-active="active">
        <a ui-sref="widgets">
            <i class="menu-icon fa fa-th"></i>
            <span class="menu-text"> Widgets </span>
        </a>
    </li>
    <!--UI Elements-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-desktop"></i>
            <span class="menu-text"> Elements </span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li ui-sref-active="active">
                <a ui-sref="elements">
                    <span class="menu-text">Basic Elements</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-dropdown">
                    <span class="menu-text">
                        Icons
                    </span>
                    <i class="menu-expand"></i>
                </a>
                <ul class="submenu">
                    <li ui-sref-active="active">
                        <a ui-sref="fontawesome">
                            <i class="menu-icon fa fa-rocket"></i>
                            <span class="menu-text">Font Awesome</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="glyphicons">
                            <i class="menu-icon glyphicon glyphicon-stats"></i>
                            <span class="menu-text">Glyph Icons</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="typicons">
                            <i class="menu-icon typcn typcn-location-outline"></i>
                            <span class="menu-text"> Typicons</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="weathericons">
                            <i class="menu-icon wi wi-hot"></i>
                            <span class="menu-text">Weather Icons</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="tabs">
                    <span class="menu-text">Tabs & Accordions</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="alerts">
                    <span class="menu-text">Alerts & Tooltips</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="modals">
                    <span class="menu-text">Modals & Wells</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="buttons">
                    <span class="menu-text">Buttons</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="nestablelist">
                    <span class="menu-text"> Nestable List</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="treeview">
                    <span class="menu-text">Treeview</span>
                </a>
            </li>
        </ul>
    </li>
    <!--Tables-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-table"></i>
            <span class="menu-text"> Tables </span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li ui-sref-active="active">
                <a ui-sref="simpletables">
                    <span class="menu-text">Simple & Responsive</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="datatables">
                    <span class="menu-text">Data Tables</span>
                </a>
            </li>
        </ul>
    </li>
    <!--Forms-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-pencil-square-o"></i>
            <span class="menu-text"> Forms </span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li ui-sref-active="active">
                <a ui-sref="formlayout">
                    <span class="menu-text">Form Layouts</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="forminputs">
                    <span class="menu-text">Form Inputs</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="formpickers">
                    <span class="menu-text">Data Pickers</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="formwizard">
                    <span class="menu-text">Wizard</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="formvalidation">
                    <span class="menu-text">Validation</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="formeditors">
                    <span class="menu-text">Editors</span>
                </a>
            </li>
        </ul>
    </li>
    <!--Charts-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-bar-chart-o"></i>
            <span class="menu-text"> Charts </span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li ui-sref-active="active">
                <a ui-sref="flot">
                    <span class="menu-text">Flot Charts</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="morris">
                    <span class="menu-text"> Morris Charts</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="sparkline">
                    <span class="menu-text">Sparkline Charts</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="easypiechart">
                    <span class="menu-text">Easy Pie Charts</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="chartjs">
                    <span class="menu-text"> ChartJS</span>
                </a>
            </li>
        </ul>
    </li>
    <!--Profile-->
    <li ui-sref-active="active">
        <a ui-sref="profile">
            <i class="menu-icon fa fa-picture-o"></i>
            <span class="menu-text">Profile</span>
        </a>
    </li>
    <!--Mail-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-envelope-o"></i>
            <span class="menu-text"> Mail </span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li ui-sref-active="active">
                <a ui-sref="inbox">
                    <span class="menu-text">Inbox</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="messageview">
                    <span class="menu-text">View Message</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="messagecompose">
                    <span class="menu-text">Compose Message</span>
                </a>
            </li>
        </ul>
    </li>
    <!--Calendar-->
    <li ui-sref-active="active">
        <a ui-sref="calendar">
            <i class="menu-icon fa fa-calendar"></i>
            <span class="menu-text">
                Calendar
            </span>
        </a>
    </li>
    <!--Pages-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon glyphicon glyphicon-paperclip"></i>
            <span class="menu-text"> Pages </span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li ui-sref-active="active">
                <a ui-sref="timeline">
                    <span class="menu-text">Timeline</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="pricing">
                    <span class="menu-text">Pricing Tables</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="invoice">
                    <span class="menu-text">Invoice</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="login">
                    <span class="menu-text">Login</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="register">
                    <span class="menu-text">Register</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="lock">
                    <span class="menu-text">Lock Screen</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="typography">
                    <span class="menu-text"> Typography </span>
                </a>
            </li>
        </ul>
    </li>
    <!--More Pages-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon glyphicon glyphicon-link"></i>
            <span class="menu-text">
                More Pages
            </span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li ui-sref-active="active">
                <a ui-sref="error404">
                    <span class="menu-text">Error 404</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="error500">
                    <span class="menu-text"> Error 500</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="blank">
                    <span class="menu-text">Blank Page</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="grid">
                    <span class="menu-text"> Grid</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-dropdown">
                    <span class="menu-text">
                        Multi Level Menu
                    </span>
                    <i class="menu-expand"></i>
                </a>
                <ul class="submenu">
                    <li>
                        <a href="#">
                            <i class="menu-icon fa fa-camera"></i>
                            <span class="menu-text">Level 3</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon fa fa-asterisk"></i>
                            <span class="menu-text">
                                Level 4
                            </span>
                            <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="#">
                                    <i class="menu-icon fa fa-bolt"></i>
                                    <span class="menu-text">Some Item</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="menu-icon fa fa-bug"></i>
                                    <span class="menu-text">Another Item</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <!--Right to Left-->
    <li ui-sref-active="active">
        <a ui-sref="versions">
            <i class="menu-icon glyphicon glyphicon-fire themesecondary"></i>
            <span class="menu-text">
                BeyondAdmin Versions
            </span>
        </a>
    </li>
</ul>
        <!-- /Sidebar Menu -->
